@model ICollection<Grow.Data.Entities.Organizer>

@{
    ViewBag.Title = "About us";
}

@section Styles {
    <style>
        .image-block {
            display: inline-block;
            padding: 30px 20px;
            margin-right: -5px;
            box-sizing: border-box;
        }

        .image-block img {
            width: 100%;
        }

        .header-image {
            margin-bottom: -8px;
            border-radius: 2px 2px 0 0;
            overflow: hidden;
        }

        .header-image img {
            width: 100%;
        }
    </style>
}

<article id="main">

    <header class="special container">
        <span class="icon fa-male"></span>
        <h2>GROW can only exist due to a strong <strong>Team</strong></h2>
    </header>
    
    @if (Model.Any())
    {
        <section id="organizers" class="wrapper style4 container">
            <div class="content">
                <header style="text-align: center">
                    <h3>The <strong>team</strong></h3>
                </header>
                @foreach (var orga in Model)
                {
                <div class="3u 12u(narrower) image-block">
                    <h3>@orga.Name</h3>
                    <h4>@orga.JobTitle</h4>
                    <img src="@orga.Image.Url" />
                </div>
                }
            </div>
        </section>
    }
    else
    {
        <section id="organizers" class="wrapper style4 container">
            <div class="content">
                <section style="text-align: center">
                    <header>
                        <h3>The <strong>team</strong></h3>
                    </header>
                    <p>
                        No organizers have been publicized yet. Check back later for more details or follow us on Social Media (see below).
                    </p>
                </section>
            </div>
        </section>
    }

    <section class="style4 container header-image">
        <img src="/img/banners/pg_banner.jpg"/>
    </section>
    <section id="pioniergarage" class="wrapper style4 container">
        <div class="content">
            <section style="text-align: center">
                <header>
                    <h3>The <strong>organizer</strong>: PionierGarage e.V.</h3>
                </header>
                <p>
                    The <a href="https://pioniergarage.de/" target="_blank">PionierGarage</a> is Germany's largest student club focused on entrepreneurship. 
                    Located at the Karlsruhe Institute of Technology (KIT) we made it our mission to promote the topic of entrepreneurship 
                    by raising an higher awareness within the student community and supporting StartUps in the earliest stage.
                </p>
                <ul class="icons">
                    <li><a href="https://pioniergarage.de/" target="_blank">Website</a></li>
                    <li><a href="mailto:info@pioniergarage.de" target="_blank">Email</a></li>
                    <li><a href="https://www.facebook.com/Pioniergarage/" target="_blank">Facebook</a></li>
                    <li><a href="https://instagram.com/pioniergarage" target="_blank">Instagram</a></li>
                </ul>
                <p>
                    <img src="/img/pg_logo.png" alt="PionierGarage Logo" style="max-width: 100%; max-width: 300px;" />
                </p>
            </section>
        </div>
    </section>
    
    <section class="style4 container header-image">
        <img src="/img/banners/lp_banner.jpg"/>
    </section>
    <section id="pioniergarage" class="wrapper style4 container">
        <div class="content">
            <section style="text-align: center">
                <header>
                    <h3>The <strong>location</strong>: PionierGarage Launchpad</h3>
                </header>
                <p>
                    The <a href="https://pioniergarage.de/launchpad" target="_blank">PionierGarage Launchpad</a> 
                    in Karlsruhe is the first student-run incubator in Germany.
                    Open to all student projects and young founders, it provides cheap offices and a coworking space for the pre-seed stage.
                </p>
                <p>
                    The PionierGarage Launchpad is the center of all activities of the PionierGarage and therefore also of GROW. 
                    Most workshops and networking events will take place here. 
                    Only the big main events will take place in locations more suited to the high visitor counts.
                </p>
                <p>
                    If you need a place to work, want to connect to other founders or surround yourself with creativity, 
                    feel free to send us a message.
                </p>
                <p>
                    <strong>Address:</strong><br />
                    Rintheimer Str. 15<br />
                    76131 Karlsruhe<br />
                    Germany
                </p>
                <ul class="icons">
                    <li><a href="https://pioniergarage.de/launchpad" target="_blank">Website</a></li>
                    <li><a href="mailto:launchpad@pioniergarage.de">Email</a></li>
                </ul>
            </section>
        </div>
    </section>
    
    <section class="style4 container header-image">
        <img src="/img/banners/grow_banner.jpg"/>
    </section>
    <section id="contact" class="wrapper style4 container">
        <div class="content">
            <section style="text-align: center">
                <header>
                    <h3>Contact us</h3>
                </header>
                <p>
                    Do you have questions, feedback, offers?
                </p>
                <p>
                    Send us a mail at<br />
                    <a href="mailto:grow@pioniergarage.de">grow<span>@@</span>pioni<span>ergara</span>ge.de</a>
                </p>
            </section>
        </div>
    </section>
</article>
