@model Grow.Server.Model.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<article id="main">

    <header class="special container">
        <span class="icon fa-user"></span>
        <h2>
            An <strong>Error</strong> has occurred
        </h2>
    </header>

    <section class="wrapper style4 container" style="text-align: center">
        <div class="content">
            <section>
                <header>
                    <h2>@Model.ErrorMessage</h2>
                </header>
                <p>
                    @Model.ErrorDetails
                </p>
                <footer>
                    <a href="javascript:window.history.back()" class="btn btn-default">Go back</a>
                </footer>
            </section>
        </div>
    </section>

</article>
