@model ICollection<Grow.Data.Entities.Judge>

@{
    ViewBag.Title = "Judges";
}

@section Styles {
    <style>
        .image-block h4 {
            text-transform: none;
        }

        .image-block {
            display: inline-block;
            padding: 20px;
            margin-right: -3px;
            margin-bottom: 30px;
        }

            .image-block img {
                width: 100%;
            }
    </style>
}

<article id="main">

    <header class="special container">
        <span class="icon fa-male"></span>
        <h2>The Judges</h2>
        <br />
        <h6 style="font-style: italic; text-transform: inherit">
            These experienced entrepreneurs will judge progress, pitch and product of the teams.
        </h6>
    </header>

    @if (Model.Any())
    {
        <section class="wrapper style4 container">
            <div class="content">
                @foreach (var judge in Model)
                {
                    <div class="4u 12u(narrower) image-block">
                        <h3>@judge.Name</h3>
                        <h4>@judge.Description</h4>
                        <img src="@judge.Image.Url" />
                    </div>
                }
            </div>
        </section>
    }
    else
    {
        <section class="wrapper style4 container">
            <div class="content">
                <section style="text-align: center">
                    <header>
                        <h3>Stay tuned</h3>
                    </header>

                    <p>
                        No judges have been publicized yet. Check back later for more details or follow us on Social Media:
                    </p>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/Pioniergarage/">Facebook</a></li>
                        <li><a href="https://instagram.com/pioniergarage">Instagram</a></li>
                    </ul>
                    @{
                        var lastYear = (ViewBag.ContestYears as ICollection<string>)
                            .Where(y => y.CompareTo(ViewBag.SelectedContestYear) < 0)
                            .OrderByDescending(y => y)
                            .FirstOrDefault();
                    }
                    @if (!string.IsNullOrEmpty(lastYear))
                    {
                        <p>
                            You can also check out @Html.ActionLink("the judges of the last contest", "Program", "Home", new { year = lastYear }).
                        </p>
                    }
                </section>
            </div>
        </section>
    }

</article>
