<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/da3f5cc2994d9b3c480223b41/0253c9252b65ee86dfb098849.js");</script>
<script>
    console.info("v02", "testing");
</script>

@{
    ViewBag.Title = "Newsletter Sign-Up";
}

<article id="main">

    <header class="special container">
        <span class="icon fa-user"></span>
        <h2>
            Become a GROW fan
        </h2>
    </header>

    <section class="wrapper style4 container" style="text-align: center">
        <div class="content">
            <section>
                <p>
                    Thank you for your interest in our newsletter.
                </p>
                <p>
                    You can find our <a href="https://pioniergarage.de/datenschutz" target="_blank">privacy statement here</a>!
                </p>
                <footer>
                    <a href="javascript:window.history.back()" class="btn btn-default">Go back</a>
                </footer>
            </section>
        </div>
    </section>

</article>
