@model ICollection<Grow.Data.Entities.Organizer>

@{
    ViewBag.Title = "Organizers";
}

@section Styles {
    <style>
        .image-block {
            display: inline-block;
            padding: 30px 20px;
            margin-right: -5px;
            box-sizing: border-box;
        }

        .image-block img {
            width: 100%;
        }
    </style>
}

<article id="main">

    <header class="special container">
        <span class="icon fa-male"></span>
        <h2>GROW can only exist due to a strong <strong>Team</strong></h2>
    </header>

    @if (Model.Any())
    {
        <section class="wrapper style4 container">
            <div class="content">
                @foreach (var orga in Model)
                {
                    <div class="3u 12u(narrower) image-block">
                        <h3>@orga.Name</h3>
                        <h4>@orga.JobTitle</h4>
                        <img src="@orga.Image.Url" />
                    </div>
                }
            </div>
        </section>
    }
    else
    {
        <section class="wrapper style4 container">
            <div class="content">
                <section style="text-align: center">
                    <header>
                        <h3>Stay tuned</h3>
                    </header>

                    <p>
                        No organizers have been publicized yet. Check back later for more details or follow us on Social Media:
                    </p>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/Pioniergarage/">Facebook</a></li>
                        <li><a href="https://instagram.com/pioniergarage">Instagram</a></li>
                    </ul>
                    @{
                        var lastYear = (ViewBag.ContestYears as ICollection<string>)
                            .Where(y => y.CompareTo(ViewBag.SelectedContestYear) < 0)
                            .OrderByDescending(y => y)
                            .FirstOrDefault();
                    }
                    @if (!string.IsNullOrEmpty(lastYear))
                    {
                        <p>
                            You can also check out @Html.ActionLink("the organizers of the last contest", "Organizers", "Home", new { year = lastYear }).
                        </p>
                    }
                </section>
            </div>
        </section>
    }
</article>
