

@{
    ViewBag.Title = "test Grenke";
}

<article id="main">

    <header class="special container">
        <span class="icon fa-user"></span>
        <h2>
            Photo Booth Nutzungsbedingungen
        </h2>
    </header>

    <section class="wrapper style4 container" style="text-align: center">
        <div class="content">
            <section>
                <p style="text-align: left;">Die Aktion &ldquo;GROW Photo Booth&rdquo; (nachfolgend: &bdquo;Aktion&bdquo;) wird vom 18.11.2020 bis 18.12.2020 (nachfolgend &bdquo;Aktionszeitraum&bdquo;) veranstaltet von</p>
                <p style="text-align: left;">PionierGarage e.V.</p>
                <p style="text-align: left;">Rintheimer Strasse 15</p>
                <p style="text-align: left;">76131 Karlsruhe</p>
                <p style="text-align: left;">(nachfolgend: &bdquo;Veranstalter").</p>
                <p style="text-align: left;">&sect; 1 Aktion</p>
                <p style="text-align: left;">W&auml;hrend des Aktionszeitraums kann der Nutzer die Aktion kostenlos nutzen.</p>
                <p style="text-align: left;">Die Nutzung der Aktion erfolgt in folgenden Schritten:</p>
                <p style="text-align: left;">1. Erstellen eines Fotos (nachfolgend: &bdquo;Material&ldquo;);</p>
                <p style="text-align: left;">2. Akzeptieren der Nutzungsbedingungen;</p>
                <p style="text-align: left;">3. Eintragen der eigenen Email-Adresse, an die das Material verschickt wird;</p>
                <p style="text-align: left;">4. &Uuml;bermittlung der von Nutzer eingegebenen Daten mittels des Buttons &bdquo;Jetzt senden&ldquo; per Internet &uuml;bermittelt an die Mintano UG, Erkrather Str. 401, 40231 D&uuml;sseldorf ("Mintano"), welche die Software der Virtual Booth zur Verf&uuml;gung stellt. Am Ende des Aktionszeitraumes werden die Daten gel&ouml;scht;</p>
                <p style="text-align: left;">5. &Uuml;bermittlung der von Nutzer eingegebenen Daten&nbsp; per Internet an den Veranstalter;</p>
                <p style="text-align: left;">6. &Uuml;bermittlung des Materials an die vom Nutzer angegebene eigene E-Mail-Adresse;</p>
                <p style="text-align: left;">7. Verwendung des Materials durch den Veranstalter im Einklang mit &sect; 3 dieser Nutzungsbedingungen, sofern der Nutzer im Versendeprozess seine Einwilligung hierf&uuml;r erteilt hat.</p>
                <p style="text-align: left;">Die Nutzung ist freiwillig, kostenlos und nicht an eine Kaufverpflichtung gekoppelt.</p>
                <p style="text-align: left;">Die Teilnahme an der Aktion setzt voraus, dass die Nutzungsbedingungen verbindlich angenommen werden.</p>
                <p style="text-align: left;">&sect; 2 Nutzer</p>
                <p style="text-align: left;">Nutzer der Virtual Booth k&ouml;nnen alle nat&uuml;rlichen und gesch&auml;ftsf&auml;higen Personen mit einem Mindestalter von 16 Jahren sein.</p>
                <p style="text-align: left;">&sect; 3 Einr&auml;umung von NutzungsrechtenMit seiner Teilnahme und Einwilligung im Versendeprozess erkl&auml;rt sich der Nutzer ausdr&uuml;cklich damit einverstanden, dass der Veranstalter das Material unter Beachtung der Pers&ouml;nlichkeitsrechte des Nutzers zu eigenen Werbezwecken im Zusammenhang mit der Aktion</p>
                <p style="text-align: left;">&bull; in Onlinemedien (insbesondere bei Facebook, Instagram, Twitter oder der Internetseite des Veranstalters) sowie in Offlinemedien (zum Beispiel im Printbereich, in einschl&auml;gigen Zeitschriften usw.) ver&ouml;ffentlichen, verbreiten, senden und &ouml;ffentlich zug&auml;nglich machen,</p>
                <p style="text-align: left;">&bull; &ouml;ffentlich auf- und vorf&uuml;hren (insbesondere auf Messen, z.B. auf einer Leinwand oder anderen Oberfl&auml;che wiedergeben oder auf einem Bildschirm laufen lassen)</p>
                <p style="text-align: left;">F&uuml;r diese Zwecke darf der Veranstalter das Material ganz oder teilweise</p>
                <p style="text-align: left;">&bull; vervielf&auml;ltigen,</p>
                <p style="text-align: left;">&bull; mit Begleitkommentaren versehen, mit anderen Werken kombinieren oder verbinden und auf andere Weise bearbeiten und das bearbeitete Material wie das originale Material nutzen, und</p>
                <p style="text-align: left;">&bull; in Datenbanken speichern.</p>
                <p style="text-align: left;">Soweit dies f&uuml;r die Nutzung der oben einger&auml;umten Rechte erforderlich ist, darf der Veranstalter auch Dritte einsetzen und diesen die zur Erf&uuml;llung ihrer Aufgaben erforderlichen Rechte einr&auml;umen.</p>
                <p style="text-align: left;">Die vorstehende Nutzungsrechtseinr&auml;umung kann der Nutzer jederzeit mit Wirkung f&uuml;r die Zukunft gegen&uuml;ber dem Veranstalter widerrufen.&nbsp;</p>
                <p style="text-align: left;">&sect; 4 Rechte und Pflichten des Nutzers</p>
                <p style="text-align: left;">Der Nutzer ist berechtigt, das an seine E-Mail Adresse verschickte Material nach eigenem Ermessen zu nutzen, insbesondere das Material zu vervielf&auml;ltigen, verbreiten, vorzuf&uuml;hren und &ouml;ffentlich zug&auml;nglich zu machen, sofern die Nutzung nicht im Widerspruch zu dem unter &sect; 3 einger&auml;umten Rechte steht. Insbesondere ist der Nutzer berechtig, das Material unter dem vom Veranstalter angegebenen Hashtag (#) in sozialen Netzwerken mit anderen zu teilen.</p>
                <p style="text-align: left;">Eine Nutzung ist untersagt, sofern die Nutzung geeignet ist, das Ansehen des Veranstalters sowie der GRENKE AG, welche mit einem Logo auf den Fotos vertreten ist, zu besch&auml;digen.</p>
                <p style="text-align: left;">&sect; 5 Rechte Dritter</p>
                <p style="text-align: left;">Falls der Nutzer selbst nicht (alleiniger) Inhaber der Rechte an dem Material ist (insbesondere nicht die einzige auf dem Material abgebildete Person), wird er daf&uuml;r sorgen, dass er alle erforderlichen Rechte (z.B. Lizenzen) und Einwilligungen wirksam erworben bzw. eingeholt hat.</p>
                <p style="text-align: left;">&sect; 6 Art, Umfang und Zweck der Verarbeitung personenbezogener Daten</p>
                <p style="text-align: left;">Im Folgenden informieren wir &uuml;ber die Erhebung personenbezogener Daten bei Teilnahme an Aktion.</p>
                <p style="text-align: left;">Personenbezogene Daten sind alle Daten, die auf den Nutzer pers&ouml;nlich beziehbar sind, z.&thinsp;B. Foto, Name, Adresse, Mobilnummer, E-Mail-Adressen.</p>
                <p style="text-align: left;">Die vom Nutzer im Rahmen der Aktion erhobenen personenbezogenen Daten sind seine E-Mail Adresse sowie das durch den Nutzer erstellte Bildmaterial.</p>
                <p style="text-align: left;">Die angegebenen E-Mail-Adresse wird zum Zwecke der elektronischen &Uuml;bermittlung des Materials an den Nutzer verwendet.</p>
                <p style="text-align: left;">Das erstellte Material darf vom Veranstalter im unter &sect; 3 umschriebenen Umfang verarbeitet werden.</p>
                <p style="text-align: left;">Ferner d&uuml;rfen der Veranstalter Daten ohne Personenbezug zu statistischen Zwecken nutzen.</p>
                <p style="text-align: left;">&sect; 7 Weitergehende datenschutzrechtliche Information</p>
                <p style="text-align: left;">Verantwortlicher gem. Art. 4 Abs. 7 EU-Datenschutz-Grundverordnung (DS-GVO) ist der Veranstalter.</p>
                <p style="text-align: left;">Ab dem 25. Mai 2018 ist Art 6 Abs. 1 b DSGVO die Rechtsgrundlage der Verarbeitung, sofern die personenbezogenen Daten zur &Uuml;bermittlung des Materials an den Nutzer verwendet werden. Die Verarbeitung der E-Mail-Adresse zu Werbezwecken beruht auf Art. 6 Abs. 1 f DSGVO. Andernfalls ist Rechtsgrundlage Art. 6 Abs. 1 a DSGVO.</p>
                <p style="text-align: left;">Die personenbezogenen Daten des Nutzers werden an Mintano &uuml;bermittelt. Sofern ein Drittstaatentransfer stattfindet, wird der Veranstalter sicherstellen, dass ausreichende Ma&szlig;nahmen ergriffen wurden, um ein angemessenes Datenschutzniveau sicherzustellen. Einzelheiten dazu, welche konkreten Ma&szlig;nahmen ergriffen wurden k&ouml;nnen beim Veranstalter angefragt werden.</p>
                <p style="text-align: left;">Die personenbezogenen Daten des Nutzers werden in folgende Drittl&auml;nder &uuml;bermittelt: USA</p>
                <p style="text-align: left;">Der Nutzer hat das Recht</p>
                <p style="text-align: left;">&bull; gem&auml;&szlig; Art. 7 Abs. 3 DSGVO seine einmal erteilte Einwilligung jederzeit gegen&uuml;ber dem Veranstalter zu widerrufen. Dies hat zur Folge, dass die Datenverarbeitung, die auf dieser Einwilligung beruhte, f&uuml;r die Zukunft nicht mehr fortgef&uuml;hrt werden darf;</p>
                <p style="text-align: left;">&bull; gem&auml;&szlig; Art. 15 DSGVO Auskunft &uuml;ber seine vom Veranstalter verarbeiteten personenbezogenen Daten zu verlangen.</p>
                <p style="text-align: left;">&bull; gem&auml;&szlig; Art. 16 DSGVO unverz&uuml;glich die Berichtigung unrichtiger oder Vervollst&auml;ndigung seiner beim Veranstalter gespeicherten personenbezogenen Daten zu verlangen;</p>
                <p style="text-align: left;">&bull; gem&auml;&szlig; Art. 17 DSGVO die L&ouml;schung seiner beim Veranstalter gespeicherten personenbezogenen Daten zu verlangen, soweit nicht die Verarbeitung zur Aus&uuml;bung des Rechts auf freie Meinungs&auml;u&szlig;erung und Information, zur Erf&uuml;llung einer rechtlichen Verpflichtung, aus Gr&uuml;nden des &ouml;ffentlichen Interesses oder zur Geltendmachung, Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen erforderlich ist;</p>
                <p style="text-align: left;">&bull; gem&auml;&szlig; Art. 18 DSGVO die Einschr&auml;nkung der Verarbeitung seiner personenbezogenen Daten zu verlangen, soweit die Richtigkeit der Daten von ihm bestritten wird, die Verarbeitung unrechtm&auml;&szlig;ig ist, er aber deren L&ouml;schung ablehnt und der Veranstalter die Daten nicht mehr ben&ouml;tigt, er jedoch diese zur Geltendmachung, Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen ben&ouml;tigt oder er gem&auml;&szlig; Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt hat;</p>
                <p style="text-align: left;">&bull; gem&auml;&szlig; Art. 20 DSGVO seine personenbezogenen Daten, die er dem Veranstalter bereitgestellt hat, in einem strukturierten, g&auml;ngigen und maschinenlesebaren Format zu erhalten oder die &Uuml;bermittlung an einen anderen Verantwortlichen zu verlangen ;</p>
                <p style="text-align: left;">&bull; gem&auml;&szlig;. Art. 21 das Recht, Widerspruch zu erheben; und</p>
                <p style="text-align: left;">&bull; gem&auml;&szlig; Art. 77 DSGVO sich bei einer Aufsichtsbeh&ouml;rde zu beschweren.</p>
                <p style="text-align: left;">M&ouml;chte der Nutzer eines der oben genannten Rechte geltend machen oder seine datenschutzrechtliche Frage haben, kann er sich an den Veranstalter wenden.</p>
                <p style="text-align: left;">Der Verarbeitung seiner/ihrer personenbezogenen Daten kann der Nutzer jederzeit mit Wirkung f&uuml;r die Zukunft gegen&uuml;ber dem Veranstalter widerrufen.</p>
                <p style="text-align: left;">Das Material wird vorbehaltlich eines fr&uuml;heren Widerrufs nach Abschluss des Aktionszeitraums f&uuml;r einen Zeitraum von 2 Jahren gespeichert und verarbeitet.</p>
                <p style="text-align: left;">Bei Nichtbereitstellung der personenbezogenen Daten kann der Nutzer das Material nicht erhalten und der Veranstalter diese nicht zu der in &sect; 3 beschriebener Weise nutzen.</p>
                <p style="text-align: left;">&sect; 8 Haftung</p>
                <p style="text-align: left;">Der Veranstalter haftet unbeschr&auml;nkt f&uuml;r Sch&auml;den aufgrund von Vorsatz und grober Fahrl&auml;ssigkeit, sowie bei einer vors&auml;tzlichen oder fahrl&auml;ssigen Verletzung von Leib, Leben oder Gesundheit und bei Anspr&uuml;chen aus dem Produkthaftungsgesetz. Dar&uuml;ber hinaus haftet der Veranstalter auch f&uuml;r einen fahrl&auml;ssigen Versto&szlig; gegen eine Kardinalpflicht. Kardinalpflichten sind solche, deren Erf&uuml;llung die ordnungsgem&auml;&szlig;e Durchf&uuml;hrung der Aktion und die Erreichung des Vertragszwecks &uuml;berhaupt erst erm&ouml;glichen und auf deren Einhaltung ein Nutzer regelm&auml;&szlig;ig vertrauen durfte. Bei einem Versto&szlig; gegen eine Kardinalpflicht ist die Haftung der H&ouml;he nach beschr&auml;nkt auf den bei Vertragsschluss vorhersehbaren und vertragstypischen Schaden. Eine weitergehende Haftung ist ausgeschlossen. Besondere haftet der Veranstalter nicht f&uuml;r die Funktionsf&auml;higkeit von Telekommunikationsnetzen, bei Stromausf&auml;llen und bei Ausf&auml;llen von Servern, die nicht im Einflussbereich des Veranstalters liegen.</p>
                <p style="text-align: left;">&sect; 9 Vorzeitige Beendigung der Aktion</p>
                <p style="text-align: left;">Der Veranstalter beh&auml;lt sich vor, die Aktion zu jedem Zeitpunkt ohne Vorank&uuml;ndigung und ohne Angabe von Gr&uuml;nden abzubrechen oder zu beenden. Von dieser M&ouml;glichkeit macht der Veranstalter insbesondere dann Gebrauch, wenn aus technischen Gr&uuml;nden (z.B. Viren im Computersystem, Manipulation oder Fehler in der Hard- und/oder Software) oder aus rechtlichen Gr&uuml;nden eine ordnungsgem&auml;&szlig;e Durchf&uuml;hrung der Aktion nicht gew&auml;hrleistet werden kann.</p>
                <p style="text-align: left;">&sect; 10 Sonstiges</p>
                <p style="text-align: left;">Es ist ausschlie&szlig;lich das Recht der Bundesrepublik Deutschland anwendbar.</p>
                <p style="text-align: left;">Sollten einzelne dieser Bestimmungen ung&uuml;ltig sein oder werden, bleibt die G&uuml;ltigkeit der &uuml;brigen Teilnahmebedingungen hiervon unber&uuml;hrt.</p>
                <p style="text-align: left;">Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung bereit, die unter www.ec.europa.eu/consumers/odr zu erreichen ist. Nutzer, die Verbraucher im Sinne des &sect; 13 BGB sind, haben die M&ouml;glichkeit, diese Plattform f&uuml;r die Beilegung von Streitigkeiten ohne Einschaltung eines Gerichts zu nutzen. Der Veranstalter ist nicht bereit, an Streitbeilegungsverfahren bei einer Verbraucherschlichtungsstelle teilzunehmen.</p>

            
            </section>
        </div>
    </section>

</article>
