

@{
    ViewBag.Title = "Photo Booth";
}

<article id="main">

    <header class="special container">
        <span class="icon fa-user"></span>
        <h2>
            Grenke Photo Booth
        </h2>
    </header>

    <section class="wrapper style4 container" style="text-align: center">
        <div class="content">
            <section>
            <p>test</p>
            </section>
        </div>
    </section>

</article>
