@import url("/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
#contest-selector {
  background-color: transparent;
  border-width: 0px 0 1px;
  color: white;
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
  cursor: pointer; }
  #contest-selector:hover {
    opacity: 1; }
  #contest-selector option {
    color: black; }

.options-column {
  word-wrap: normal; }
  .options-column i {
    margin: auto 3px;
    font-size: 120%; }

tr.inactive {
  background-color: rgba(0, 0, 0, 0.05); }
