@using Microsoft.AspNetCore.Identity
@using Grow.Data.Entities
@inject SignInManager<Account> SignInManager

@{
    Layout = "Layouts/_BackendLayout";
}

@section Styles {
    @RenderSection("Styles", required: false)
}

@section Navbar {
    <li>
        <a asp-controller="Home" asp-action="Index" asp-area="">
            <i class="nc-icon nc-minimal-left"></i>
            Back
        </a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-controller="Account" asp-action="Index" asp-area="">
                <i class="nc-icon nc-settings-gear-65"></i>
                Account
            </a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="ChangePassword" asp-area="">
                <i class="nc-icon nc-key-25"></i>
                Change password
            </a>
        </li>
    }
}

<div class="row justify-content-md-center">
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <div class="card-body" style="padding: 40px">

                @RenderBody()

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
