@model Grow.Server.Model.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "GROW Login";
}

<h4>Login</h4>
<hr />
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input hidden asp-for="ReturnUrl" />

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Sign In" class="btn btn-default" />
    </div>

    <div class="form-group">
        <p>
            <a href="mailto:grow@pioniergarage.de">Forgot your password?</a>
        </p>
    </div>
</form>
