@model Grow.Data.Entities.Event
@{
    ViewData["Title"] = "Can't respond to event";
}

<div class="text-center">

    <h3>Responses are not accepted</h3>

    <p>
        &nbsp;
    </p>

    <p>
        You can't respond to the event "@Model.Name" right now!
    </p>
</div>
