@model Grow.Data.Entities.Event
@{
    ViewData["Title"] = "Can't respond to event";
}

<article id="main">

    <header class="special container">
        <span class="icon fa-calendar-o"></span>
        <h2>Responses are not accepted</h2>
    </header>

    <section class="wrapper style4 container" style="text-align: center">
        <p>
            You can't respond to the event "@Model.Name" right now!
        </p>
    </section>
</article>
