@{
    ViewData["Title"] = "Event Response";
}

<div class="text-center">

    <h3>Response submitted</h3>

    <p>
        &nbsp;
    </p>

    <p>
        Your response has been submitted!<br />
        Thank you for participating.
    </p>
    <p>
        @Html.ActionLink("<- Back", "Index")
    </p>
</div>
