@using Grow.Server.Areas.MyTeam.Model.ViewModels
@model TeamEventViewModel

@{
    ViewData["Title"] = Model.Name;
}

<article id="main">

    <header class="special container">
        <span class="icon fa-calendar-o"></span>
        <h2>@Model.Name</h2>
    </header>

    <section class="wrapper style4 container">

        <div class="row" style="font-size: 120%">
            <a href="javascript:window.history.back()">&lt;- Back</a>
        </div>

        <partial name="Partials/_EventDetailsPartial" model="Model" />

        @if (Model.CanTeamRespondNow)
        {
            <div style="text-align: center; margin: 40px;">
                @Html.ActionLink("Are you coming?", "Respond", "Event", new { id = Model.Id }, new { @class = "button btn btn-default" })
            </div>
        }

        <div class="row" style="font-size: 120%">
            <a href="javascript:window.history.back()">&lt;- Back</a>
        </div>
    </section>
</article>