<article id="main">

    <header class="special container">
        <span class="icon fa-calendar-o"></span>
        <h2>Response submitted</h2>
    </header>

    <section class="wrapper style4 container" style="text-align: center">
        <p>
            Your response has been submitted!<br />
            Thank you for participating.
        </p>
    </section>
</article>
