<h6 style="padding-left: 20px">Copy from old entity</h6>
<div class="form-group" id="search-box">
    <input id="search-input" class="form-control" type="text" placeholder="search by name..." />
    <ul id="search-results" style="display: none"></ul>
</div>